*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(160deg, #77ffe0, #0d1c9a);
  background-image: url("img/background\ 1920x1080.jpg");
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: transparent;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

h2 {
  flex: 1;
  font-size: 18px;
  color: #39bea0;
  user-select: none;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d3fff5;
  border-radius: 40px;
  
  padding-left: 20px;

}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #bafff0;
  border-radius: 40px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.field {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  
  font-size: 18px;
}

.add {
  font-size: 17px;
  border: none;
  outline: none;
  padding: 16px 22px;
  background: linear-gradient(120deg, #77ffe0, #55a391);
  color: #0c0c0c;
  border-radius: 40px;
  cursor: pointer;
}

.delete-all {
  font-size: 17px;
  border: none;
  outline: none;
  padding: 16px 22px;
  background: linear-gradient(120deg, #77ffe0, #55a391);
  color: #0c0c0c;
  border-radius: 40px;
  cursor: pointer;
}

.delete-btn,
.returnBtn {
  margin-right: 15px;
  font-size: 17px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.tasks,
.container {
  background-color: transparent;
  padding: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 10px 5px 10px 40px;
  margin-top: 3px;
  font-size: 18px;
  
  user-select: none;
  list-style: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  }

ul li:nth-child(even) {
  background: #e7fffa;
}

ul li:nth-child(odd) {
  background: #d3fff5;
}

ul li:hover {
  background-color: #bafff0;
  
}

.checked {
  color: #4cb59d;
  text-decoration: line-through;
}

.status {
  cursor: pointer;
}

.task-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  cursor: pointer;
}
.task-div {
  flex: 1;
}
